.App {
  text-align: center;
  max-width: 1200px;
  margin: 20px auto; 
  padding: 20px; 
  background: linear-gradient(270deg, #b3ffab, #12fff7);
  background-size: 200% 200%;
  animation: Gradient 5s ease infinite;
}

.App-content {
  background-color: #292929d4; /* or any color you prefer */
  margin: 20px; /* adjust this to control the size of the gradient "border" */
  padding: 20px; /* adjust this to control the inner padding */
  border-radius: 10px; /* Optional: Add this if you want rounded corners */
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.info-section {
  display: flex;
  justify-content: space-between;
  align-items: stretch;  
  background: 
    linear-gradient(45deg, #92baac 25%, transparent 25%) 0 0,
    linear-gradient(45deg, transparent 75%, #92baac 75%) 0 0,
    linear-gradient(-45deg, #92baac 25%, transparent 25%),
    linear-gradient(-45deg, transparent 75%, #92baac 75%);
  background-size: 40px 40px;
  background-color: #e0e0e041;
}

.countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  margin-top: 20px;
  color: rgb(255, 245, 245);
}

.prize-pool, .about {
  margin-top: 30px;
  margin-bottom: 30pxV;
  background-color: #ededed;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.about, .prize-pool {
  width: 48%;
  padding: 20px;
  background-color: #ededed;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.country-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: calc((100% / 3) - 20px);
  position: relative;
}

.country-container:hover {
  transform: scale(1.05);
}

button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #45a049;
}

/* Media Queries for responsiveness */

@media (max-width: 900px) {
  .info-section {
    flex-direction: column;
  }
  .about, .prize-pool {
    width: 100%;
  }
  .country-container {
    width: calc((100% / 2) - 20px);
  }
}

@media (max-width: 600px) {
  .country-container {
    width: 100%;
  }
}
